<!-- Страницата работи с модел от тип 'IEnumerable<MvcTransplantation_kidney.Models.Role>', който представлява колекция от обекти от клас 'Role'.-->
@model MvcTransplantation_kidney.Models.Role

<!--Задава заглавието на страницата като "Изтрий", използвайки 'ViewData' за предаване на данни от контролера към изгледа.-->
@{
    ViewData["Title"] = "Изтрий";
}

<!--Заглавие на страницата (Heading 1) с текст "Изтрий" и го центрира с клас 'text-center'.-->
<h1 class="text-center">Изтрий</h1>

<!--Кодът показва потвърдително съобщение за изтриване на роля и визуализира името на ролята, която ще бъде изтрита.-->
<h3 class="text-center">Сигурни ли сте, че искате да изтриете това?</h3>
<div>
    <h4>Role</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RoleName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RoleName)
        </dd>
    </dl>
    
    <!--Кодът представлява формуляр за изтриване на роля. Скрити полета предават ID на ролята, а бутонът "Изтрий" изпраща заявка за изтриване. Има и линк за връщане към списъка с роли.-->
    <form asp-action="Delete">
        <input type="hidden" asp-for="RoleId" />
        <input type="submit" value="Изтрий" class="btn btn-danger" />
        <a asp-action="Index">Обратно към списъка</a>
    </form>
</div>
