<!-- Страницата работи с модел от тип 'IEnumerable<MvcTransplantation_kidney.Models.Permission>', който представлява колекция от обекти от клас 'Permission'.-->
@model MvcTransplantation_kidney.Models.Permission

<!--Задава заглавието на страницата като "Създаване", използвайки 'ViewData' за предаване на данни от контролера към изгледа.-->
@{
    ViewData["Title"] = "Създаване";
}

<!--Заглавие на страницата (Heading 1) с текст "Създаване" и го центрира с клас 'text-center'.-->
<h1 class="text-center">Създаване</h1>

<!--Този код представлява формуляр за създаване на ново разрешение. Формата включва поле за въвеждане на ИД на потребителя, типа на разрешението, с вградена валидация, и бутон за изпращане на данните към сървъра.-->
<h4 class="text-center">Разрешение</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="UserId" class="control-label"></label>
                <select asp-for="UserId" class="form-control" asp-items="ViewBag.Users"></select>
                <span asp-validation-for="UserId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PermissionType" class="control-label"></label>
                <input asp-for="PermissionType" class="form-control" />
                <span asp-validation-for="PermissionType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Създай" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<!--Кодът показва центриран линк, който връща потребителя към основния списък от елементи на страницата, асоциирана с действието 'Index'.-->
<div class="text-center">
    <a asp-action="Index">Обратно към списъка</a>
</div>

<!--Включва частичен изглед със скриптове за валидация на клиентската страна в специфична секция Scripts на страницата. Това позволява валидацията на формите да работи правилно, като добавя необходимите JavaScript функционалности.-->
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
