<!--Този код задава заглавието на страницата на "Начало", използвайки `ViewData`, за да предаде тази стойност от контролера към изгледа в ASP.NET MVC.-->
@{
    ViewData["Title"] = "Начало";
}

<!--Този код създава центриран блок с поздравително съобщение и описание на приложението, включващо заглавие, подзаглавие и текстово съдържание, както и изображение с клас `img-fluid`, който осигурява адаптивно мащабиране на картината спрямо размера на контейнера. -->
<div class="text-center">
    <h1 class="display-4">Добре дошли в нашето приложение</h1>
    <p class="lead">Това е система за амбулаторно наблюдение на бъбречно-трансплантирани пациенти.</p>
    <p>Тук можете да управлявате информацията за пациентите, докторите и медицинските записи.</p>
    <img src="~/images/human_body.png" alt="Description of the image" class="img-fluid" />
</div>
