<!--Този код задава заглавието на страницата на "Privacy Policy", използвайки `ViewData`, за да предаде тази стойност от контролера към изгледа в ASP.NET MVC.-->
@{
    ViewData["Title"] = "Политика за поверителност";
}

<!--Този код генерира HTML заглавие от първо ниво (`<h1>`), което извежда стойността на `ViewData["Title"]`, зададена в контролера, и я използва за задаване на текста на заглавието на страницата.-->
<h1>@ViewData["Title"]</h1>

<!--Този код показва параграф (`<p>`) с текстово съдържание, което указва, че страницата е предназначена за предоставяне на подробности за политиката за конфиденциалност на сайта.-->
<p>Използвайте тази страница, за да опишете подробно политиката за поверителност на вашия сайт.</p>
